<html lang="en" xmlns:th=="http://www.thymeleaf.org">
    <head>
        <title>Ciao</title>
    </head>
    <body>
        <div>
            <h1>LIBRI</h1>
            <table border="1px" style="border-color: gainsboro">
                <tr>
                    <th>Book id</th>
                    <th>Book name</th>
                    <th>Book ISBN</th>
                    <th>Publisher name</th>
                </tr>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}">1</td>
                    <td th:text="${book.title}">Libro</td>
                    <td th:text="${book.isbn}">ISBN</td>
                    <td th:text="${book.publisher.getPublisherName()}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>