<html lang="en" xmlns:th=="http://www.thymeleaf.org">
<head>
    <title>Ciao</title>
</head>
<body>
<div>
    <h1>LIBRI</h1>
    <table border="1px" style="border-color: gainsboro">
        <tr>
            <th>Book id</th>
            <th>Book name</th>
            <th>Book ISBN</th>
            <th>Publisher name</th>
        </tr>
        <tr>
            <td th:text="${firstBook.id}">1</td>
            <td th:text="${firstBook.title}">Libro</td>
            <td th:text="${firstBook.isbn}">ISBN</td>
            <td th:text="${firstBook.publisher.getPublisherName()}"></td>
        </tr>
    </table>
</div>
</body>
</html>